# API Configuration
NEXT_PUBLIC_SERVER_API=http://localhost:3222
NEXT_PUBLIC_URL="https://chatty.rumsan.us"

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=ey...